h1 {
	font-size: 22px;
	color: #333;
	font-family: arial "宋体";
	text-align: center;
	text-shadow: black 2px 2px 2px;
	;
}

h1 {
	color: rgba(0, 0, 0, 0.5);
}

h3 {
	font-size: 18px;
	color: #999;
	line-height: 30px;
	text-align: center;
}

p:nth-of-type(1) {
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}

p span {
	color: red;
}

p {
	font-size: 14px;
	color: #333;
	font-family: arial "宋体";
	line-height: 1.8;
	text-indent: 2em;
}

div{
	text-align: center;
	
}